In [10]:
# Carga de bibliotecas.

import pandas as pd
from inline_sql import sql, sql_val
from pandasql import sqldf

# Carga de datasets necesarios.

Sedes = pd.read_csv('Tablas/Sedes.csv')
Secciones = pd.read_csv('Tablas/Secciones.csv')
Migrantes = pd.read_csv('Tablas/Migrantes.csv')
Redes_Sociales_DB = pd.read_csv('Tablas/Redes_Sociales.csv')
H_IV = pd.read_csv('Tablas/h.iv.csv')

# Consulta a la tabla resultante del punto h.iv.
# Con esto se forma una nueva tabla con el pais y la red social.

Query =  '''
          SELECT DISTINCT pais, "red_social" 
          FROM H_IV
          ORDER BY pais ASC

'''

H_IV2 = sqldf(Query)

# Consulta a la tabla resultante para obtener la cantidad de tipo de redes.
Query =  '''
          SELECT DISTINCT pais, Count("red_social") AS Cantidad_Tipo_Redes
          FROM H_IV2
          GROUP BY pais
          ORDER BY Cantidad_Tipo_Redes DESC, pais ASC

'''

H_IV2 = sqldf(Query)
H_IV2.to_csv('Tablas/h.iii.csv')

                                                  pais  Cantidad_Tipo_Redes
0                           Embajada en Estados Unidos                    6
1                       Embajada ante la Unión Europea                    5
2                                   Embajada en Canadá                    5
3                              Embajada en Reino Unido                    5
4    Consulado General y Centro de Promoción en Bar...                    4
..                                                 ...                  ...
106                   Embajada en República Dominicana                    1
107                                  Embajada en Siria                    1
108                              Embajada en Tailandia                    1
109                      Embajada en Trinidad y Tobago                    1
110  Oficina de Representación en el Estado de Pale...                    1

[111 rows x 2 columns]